<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ray-tracing-weekend.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>raytracing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D6268DD1C721503007723C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D6268F41C72177B007723C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D6269031C7219AF007723C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D6269121C7219EC007723C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D6269201C721A95007723C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D6269331C721BEF007723C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DE3E5921C6A16A600682673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DE3E5A21C6AD6EA00682673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
